
<% if relations.present? %>
  <p><strong><%=l(:label_related_issues)%></strong></p>
  <form>
    <table class="list issues">
      <% relations.each do |relation| %>
          <% other_issue = relation.other_issue(issue) -%>
          <tr class="issue hascontextmenu <%= other_issue.css_classes %>" id="relation-<%= relation.id %>">
            <td class="subject" style="width: 50%">
              <%= relation.to_s(issue) {|other| link_to_issue(other, :project => Setting.cross_project_issue_relations?)}.html_safe %>
            </td>
            <td class="status"><%= other_issue.status.name %></td>
          </tr>
      <% end %>
    </table>
  </form>
<% else %>
  No relation
<% end %>
